<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
		<title>{{title}}</title>
		<style type="text/css" media="screen">
			body {
				background-color: black;
				width: 100%;
				text-align: center;
			}
			h1 {
				font-size: 600px;
				font-family: Lato;
				color: {{color}};
			}
		</style>
	</head>
	<body>
		<h1>{{bikes}}</h1>
	</body>
</html>`;

